* {
  background-color: black;
  color: aquamarine;
}

.button {
  padding: 5px;
  border: solid aqua 1px;
  border-radius: 2px;
}
.button-disabled {
  padding: 5px;
  background-color: darkgray;
  border-radius: 2px;
}
.radio-player {
  display: flex;
  justify-content: space-around;
  border: solid aqua 1px;
  border-radius: 3px;
  padding: 10px
}
.little-margin {
  margin: 10px;
  padding: 2px;
}

