* {
  background-color: black;
  color: aquamarine;
}

button {
  padding: 5px;
  border: solid aqua 1px;
  border-radius: 2px;
}

.button-disabled {
  opacity: 0.35;
}
.radio-player {
  display: flex;
  justify-content: space-around;
  border: solid aqua 1px;
  border-radius: 3px;
  padding: 10px
}
.little-margin {
  margin: 10px;
  padding: 2px;
}
.under-player {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flag {
  max-width: 100px;
  border-radius: 8%;
}
